<div class="bio-container container">
    <div class="bios row">
        <div class="col-lg-3 col-md-6 col-8 photo-container">
            <img class="img-fluid" src="{{photo}}">
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="title">
                <h3>{{name}}</h3>
                <p>{{role}} ({{birth}} - {{death}})</p>
            </div>

            <div class="background">
                <h4>História</h4>
                <p>{{background}}</p>
            </div>

            <div class="highlights">
                <h4>Destaques</h4>
                <ul>
                        {{#each highlights}}
                        <li>{{this}}</li>
                        {{/each}}
                </ul>
            </div>

            <div class="quote">
                <h4>Frases</h4>
                <p>&ldquo;{{quote}}&rdquo;</p>
            </div>
            <div class="fb-share-button" data-href="https://bios.herokuapp.com/{{id}}" data-layout="button" data-size="large" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartilhar</a></div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="back">
                <a class="btn btn-primary" href="https://bios.herokuapp.com/">Voltar</a>
            </div>
        </div>
    </div>
</div>