<div class="container bios-container">
    <div class="bios row">
    	{{#each bios}}
        <div class="col-lg-4 col-md-6 col-12 mb-4">
            <div class="bio-card card">
                <div class="img-container">
                    <img class="card-img-top" src="{{this.photo}}">
                </div>
                <div class="card-body">
                    <a class="bio-link" href="{{@key}}"><h6>{{this.name}}</h6></a>
                    <p class="card-text">&ldquo;{{this.quote}} &rdquo;</p>
                    <div class="more-container"><a href="{{@key}}" class="btn btn-primary">Ler mais</a></div>
                </div>
            </div>
        </div>
      {{/each}}
    </div>
</div>
